.container
	.row
		.span7
			%form{action: "/interpret", method: "post"}
				%h5
					Source Code:
				%p	
					%textarea{class: "span7", cols: "500", name: "bfSource", rows: "15", style: "resize: none;"}
				%h5
					Program Input:
				%p
					%textarea{class: "span7", cols: "100", name: "bfInput", rows: "5", style: "resize: none;"}
				%p
					%input{name: "Submit Code", type: "submit", class: "btn btn-primary"}/
							
		.span5
			%h4
				About
			.well
				%div
					%b This website:
					This is an online brainfuck programming language interpreter.
				%hr
				%div
					%b Brainfuck:
					An esoteric programming language. This language is created only to, well, its name says it all.
					Other than to challenge your brain and probably to have fun, it has no practical use. However, it is surprising to know that
					the language contains only 8 commands, each has a single character: 
					%b, . + - [ ] > and <
					(comma, dot, plus, minus, open square bracket, close square bracket, greater and smaller).
				%hr
				%div
					%b Interpreter:
					A computer program that performs (executes) instructions in another computer program.
					For example, when you run the following line of code in the Ruby language  
					%code puts "Hello World" 
					, the  Hello World is printed on your computer screen. How can your computer know to print that? 
					Because there is an interpreter that is able to understand your code and excutes it.
				%hr
				%div
					%b How to use this: 
					You can find some sample brainfuck programs on the net, run it here and see what's going on.
				%hr
				%div	
					%b And how to have fun: 
					Last but not least, I found the other half of this website: 
					%a{ href:"http://tdwright.co.uk/phpplayground/BF/"} http://tdwright.co.uk/phpplayground/BF/ 
					%b - A brainfuck message concealer. 
					What does that mean? 
					That website is able to encode your message into a brainfuck program which looks like an alien message. Wanna decode it? Run it here!

								
